body {
  background: #000;
}

.t-wrapper {
  width: 200px;
  height: 280px;
  background: #fff;
  margin: auto;
  position: relative;
  border: 5px solid #fff;
  border-radius: 5px;
}

.t-container {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  position: absolute;
  top: 79px;
  left: -1px;
}

.t-element {
  width: 20px;
  height: 20px;
  background: blue;
  position: absolute;
}